.hero {
	padding: 190px 30px 75px 30px;
	color: white;
	text-align: center;
}

.session-panel {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.session-panel > h3 {
	letter-spacing: 2px;
	line-height: 1.3;
	font-size: 23px;
	font-weight: 500;
	/* Horizontal | Vertical | Blur Radius | Color */
	text-shadow: 0px 1px 10px #4d4d4d;

	position: relative;
	top: -50px;
}
#globalization {
	background-image: url("https://s3.amazonaws.com/worldperspectivesmedia/globalization+and+its+discontents.jpg");
}
#health {
	background-image: url("https://s3.amazonaws.com/worldperspectivesmedia/health.jpg");
}
#science {
	background-image: url("https://s3.amazonaws.com/worldperspectivesmedia/science.jpg");
}
#incentives {
	background-image: url("https://s3.amazonaws.com/worldperspectivesmedia/incentives.jpg");
}

.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
}
.swipe-wrap {
	overflow: hidden;
	position: relative;
}
.swipe-wrap > div {
	float:left;
	width:100%;
	position: relative;
}

#left {
	left: 5px;
}
#right {
	right: 5px;
}
.icon.navigation {
	position: absolute;
	top: 140px;
	width: 50px;
	height: 50px;
	margin: 3px;
	font-size: 24px;
	line-height: 50px;
	text-align: center;
	color: #fff !important;
	opacity: 0.8;

	display: none;
}
.icon.navigation:hover {
	opacity: 1;
}

.bar, .btn {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.btn-block {
	width: 95%;
	margin: 0 auto;
}
input {
	border-radius: 0 !important;
}
#login-message {
	text-align: center;
}
#login-message, #login-2 {
	display: none;
}
img.logo {
	text-align: center;
	margin: 10px;
}
/* Remove unnecessary whitespace on the Explore page */
.table-view.explore {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	border-top: none;
	border-bottom: none;
}
.table-view.schedule, .table-view.settings {
	margin-top: 0 !important;
	border-top: none;
}
.table-view.attendance span.badge.badge-positive {
	-webkit-transform: translateY(-50%) translateX(-110%);
	-ms-transform: translateY(-50%) translateX(-110%);
	transform: translateY(-50%) translateX(-110%);
}
code {
	padding: 2px 4px;
	font-size: 90%;
	color: #c7254e;
	background-color: #f9f2f4;
	white-space: nowrap;
	border-radius: 4px;
	font-family: "Menlo", "Monaco", "Consolas", "Courier New", monospace;
}
h5, h6 {
	text-transform: none;
}
/* Stolen from Bootstrap */
.progress {
	overflow: hidden;
	width: 95%;
	height: 14px;
	margin-top: 18px;
	margin-bottom: 0;
	margin-right: auto;
	margin-left: auto;
	background-color: #f5f5f5;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.progress-bar {
	float: left;
	width: 0%;
	height: 100%;
	font-size: 14px;
	line-height: 22px;
	color: #ffffff;
	text-align: center;
	background-color: #4582ec;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-webkit-transition: width 0.6s ease;
	transition: width 0.6s ease;
}
#pdfprogress {
	margin-top: 10px;
	margin-bottom: 10px;
}

#thumbnails {
	margin-top: 13px;
	margin-bottom: -5px;
	text-align: center;
}
.thumbnail {
	width: 30%;
	height: 100px;
	margin: 1px;
	background-size: cover;
	background-position: 50% 50%;
	display: inline-block;
}
select {
	height: 40px;
	padding: 10px 15px;
	border: 1px solid rgba(0,0,0,.2);

	width: 100%;
	margin-bottom: 15px;
	line-height: 21px;
	background-color: #fff;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
}
#create p {
	margin: 10px;
	line-height: 21px;
	overflow: auto;
}
.table-view-cell > .btn:first-of-type {
	-webkit-transform: translateY(-115%);
	transform: translateY(-115%);
}
.table-view-cell > .btn:last-of-type {
	-webkit-transform: translateY(15%);
	transform: translateY(15%);
}
.table-view-cell > .btn {
	width: 45px;
	right: 10px;
}
/* Presentation detail page */
.presentation-info {
	width: 100%;
	/*height: 300px;*/
	background-color: #fff;
	padding: 5px;
}
.presentation-info h1 {
	font-size: 20px;
	color: #353535;
}
.presentation-info h2 {
	font-size: 16px;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 7px;
	padding-bottom: 7px;
	border-bottom: 1px solid #eee;
}
.presentation-info h2 small {
	float: right;
	margin-top: 1px;
	opacity: 0.3;
}
.presentation-buttons {
	padding: 10px;
	padding-bottom: 0;
	text-align: center;
}
.presentation-buttons button.btn {
	margin-left: 4px;
	margin-right: 4px;
}
.youtube {
	width: 100%;
	height: 200px;
}

.code {
	/* Stolen from Bootstrap's well */
	padding: 7px;
	border-radius: 3px;
	min-height: 20px;
	margin-bottom: 15px;
	background-color: #f7f7f7;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

	width: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 40px;
	line-height: 40px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#updatebutton {
	margin-top: 16px;
}
#pdfeditprogress {
	margin-bottom: 0px;
}
#mediaeditprogress {
	margin-top: 10px;
}
#mediaeditbutton {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#presentationthumbnails .thumbnail {
	height: 100px;
	width: 30%;
	border: 1px solid #d1d1d1;
}

.media .btn {
	position: initial;
	-webkit-transform: none !important;
	transform: none !important;
	width: 28vw;
	-webkit-transition: opacity 0.4s;
	transition: opacity 0.4s;
}
.btns {
	text-align: center;
	margin-top: 10px;
	width: 90vw;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.profile-img {
	background-size: cover;
	background-position: 50% 50%;
	width: 64px;
	height: 64px;
	margin-right: 10px;
}
.table-view-cell > a:not(.btn) {
	position: initial;
	margin-right: -85px;
}
.register .icon-check {
	-webkit-transform: translateY(5%) translateX(15%);
	transform: translateY(5%) translateX(15%);
	color: #1EA82E;
	opacity: 0;
}
.register {
	margin-top: 15px;
}
#received-presentations {
	display: none;
}
.input-group-bootstrap {
	position: relative;
	display: table;
	border-collapse: separate;
}
.input-group-bootstrap input {
	padding: 10px 10px;
	margin-bottom: 0;
}
.input-group-bootstrap input, .input-group-addon-bootstrap {
	display: table-cell;
}
.input-group-addon-bootstrap {
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #555;
	text-align: center;
	background-color: #E9E9E9;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-left: 0;

	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
}

p.medium-abstract {
	display: none;
}
p.large-abstract {
	display: none;
}
p.abstract {
	color: #555;
	text-align: justify;
	-webkit-column-gap: 25px;
	-moz-column-gap: 25px;
	column-gap: 25px;
	-webkit-column-rule: 1px dotted #555;
	-moz-column-rule: 1px dotted #555;
	column-rule: 1px dotted #555;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.youtube {
		height: 380px;
	}
	.thumbnail {
		height: 200px;
	}
	#presentationthumbnails .thumbnail {
		width: 15%;
	}
	p.small-abstract {
		display: none;
	}
	p.medium-abstract {
		display: block;
	}
	p.abstract {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}
@media (min-width: 1200px) {
	p.small-abstract {
		display: none;
	}
	p.medium-abstract {
		display: none;
	}
	p.large-abstract {
		display: block;
	}
	.btns {
		width: 98vw;
	}
	p.abstract {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1800px) {
	.youtube {
		height: 600px;
	}
	.thumbnail {
		height: 300px;
	}
	p.abstract {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}