.bar, .btn {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.btn-block {
	width: 95%;
	margin: 0 auto;
}
input {
	border-radius: 0 !important;
}
#login-message {
	text-align: center;
}
#login-message, #login-2 {
	display: none;
}