.bar, .btn {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.btn-block {
	width: 95%;
	margin: 0 auto;
}
input {
	border-radius: 0 !important;
}
#login-message {
	text-align: center;
}
#login-message, #login-2 {
	display: none;
}
img.logo {
	text-align: center;
	margin-top: 20px;
}
/* Remove unnecessary whitespace on the Explore page */
.table-view.explore {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	border-top: none;
	border-bottom: none;
}
code {
	padding: 2px 4px;
	font-size: 90%;
	color: #c7254e;
	background-color: #f9f2f4;
	white-space: nowrap;
	border-radius: 4px;
	font-family: "Menlo", "Monaco", "Consolas", "Courier New", monospace;
}
h5, h6 {
	text-transform: none;
}