#checkin.modal
	header.bar.bar-nav
		a.icon.icon-close.pull-right(href="#checkin")
		h1.title Check In

	.content
		br
		input(type="text", placeholder="Attendance Code", autocorrect="off", autocapitalize="off", maxlength="6")
		br
		button.btn.btn-block.btn-primary Check In