#create.modal
	header.bar.bar-nav
		a.icon.icon-close.pull-right(href="#create")
		h1.title Create Presentation

	.content
		br
		.input-group
			input(type="text", placeholder="Name")
			input(type="text", placeholder="Title")
		br
		input(type="file", style="display: none;")
		button#pdfbutton.btn.btn-primary.btn-block.btn-outlined Select PDF of paper
		p
			i You can add a PDF later too
		.progress#pdfprogress(style="display: none;")
			.progress-bar
		input(type="url", placeholder="URL to YouTube video")
		br
		input(type="file", multiple, style="display: none;")
		button#mediabutton.btn.btn-primary.btn-block.btn-outlined Choose videos / photos
		.progress#mediaprogress(style="display: none;")
			.progress-bar
		#thumbnails
		p
			i Images will be correctly orientated once the presentation has been created
		br
		textarea(rows="5", placeholder="Abstract")
		
		h5 Location
		select
			option(data-capacity="100") Bedford Gym (100)
			option(data-capacity="80") Choral Room (80)
			option(data-capacity="60") Oak Room (60)
			option(data-capacity="40") WPP Room (40)
			option(data-capacity="30") G112 (30)
			option(data-capacity="30") G110 (30)
			option(data-capacity="30") G109 (30)
			option(data-capacity="30") G107 (30)
			option(data-capacity="50") Dance Studio (50)
		h5(style="margin-top: 0;") Session
		select
			option Session 1 (8:50 AM - 9:40 PM)
			option Session 2 (9:50 AM - 10:40 PM)
			option Session 3 (11:40 AM - 12:30 PM)
			option Session 4 (12:40 PM - 1:30 PM)
		button#createbutton.btn.btn-positive.btn-block Create
		br