#create.modal
	header.bar.bar-nav
		a.icon.icon-close.pull-right(href="#create")
		h1.title Create Presentation

	.content
		br
		.input-group
			input(type="text", placeholder="Name")
			input(type="text", placeholder="Title")
		br
		input(type="file", style="display: none;")
		button#pdfbutton.btn.btn-primary.btn-block.btn-outlined Select PDF of paper
		p
			i You can add a PDF later too
		.progress#pdfprogress(style="display: none;")
			.progress-bar
		input(type="url", placeholder="URL to YouTube video")
		br
		input(type="file", multiple, style="display: none;")
		button#mediabutton.btn.btn-primary.btn-block.btn-outlined Choose videos / photos
		.progress#mediaprogress(style="display: none;")
			.progress-bar
		#thumbnails
		br
		textarea(rows="5", placeholder="Abstract")
		br
		select
			option Session 1 (8:50 AM - 9:40 PM)
			option Session 2 (9:50 AM - 10:40 PM)
			option Session 3 (11:40 AM - 12:30 PM)
			option Session 4 (12:40 PM - 1:30 PM)
		button#createbutton.btn.btn-positive.btn-block Create
		br