#login.modal
	header.bar.bar-nav
		a.icon.icon-close.pull-right(href="#login")
		h1.title Login

	.content
		br
		#login-1
			input(type="text", placeholder="FirstClass username", autocorrect="off", autocapitalize="off")
			button.btn.btn-positive.btn-block.btn-outlined Send code
		p#login-message.content-padded
		#login-2
			input(type="text", placeholder="Code", autocorrect="off", autocapitalize="off", )
			button.btn.btn-positive.btn-block Login