#move.modal
	header.bar.bar-nav
		a.icon.icon-close.pull-right(href="#move")
		h1.title Move Attendee

	.content
		h4.content-padded Attendee:
			code
		select
			option Loading...
		button#move-btn.btn.btn-block.btn-primary Move