extends layout

block header
	header.bar.bar-nav
		h1.title= title

block content
	ul.table-view
		li.table-view-cell
			a.navigate-right
				strong Attendence
		li.table-view-cell
			a.navigate-right
				strong Sessions
		li.table-view-cell
			a.navigate-right
				strong Feedback
	p.content-padded= email
	a.btn.btn-negative.btn-block.btn-outlined(href="/") Exit