extends layout

block header
	header.bar.bar-nav
		h1.title= title

block content
	ul.table-view
		li.table-view-cell
			a.navigate-right(href="/admin/attendance", data-transition="slide-in")
				strong Attendance
		li.table-view-cell
			a.navigate-right(href="/admin/presentations", data-transition="slide-in")
				strong Presentations
		li.table-view-cell
			a.navigate-right(href="/admin/registrations", data-transition="slide-in")
				strong Registrations
		li.table-view-cell
			a.navigate-right(href="/admin/feedback", data-transition="slide-in")
				strong Feedback
	p.content-padded= email
	a.btn.btn-negative.btn-block.btn-outlined(href="/", data-transition="fade") Exit