extends layout

block tabs
	+tab("Explore", "#", "icon-search", true)
	+tab("Register", "/register", "icon-check", false)
	+tab("My Schedule", "/schedule", "icon-list", false)
	+tab("Feedback", "/feedback", "icon-compose", false)