extends layout

block tabs
	+tab("Explore", "/explore", "icon-search", false)
	+tab("Register", "/register", "icon-check", false)
	+tab("My Schedule", "/schedule", "icon-list", false)
	+tab("Feedback", "#", "icon-compose", true)

block content
	h1.content-padded(style="text-align: center;") Coming soon