extends layout

block header
	header.bar.bar-nav
		h1.title= title
	footer
		nav.bar.bar-tab
			+tab("Explore", "/explore", "icon-search", false)
			+tab("Register", "/register", "icon-check", false)
			+tab("My Schedule", "/schedule", "icon-list", false)
			+tab("Feedback", "/feedback", "icon-compose", false)
block content
	div(style="text-align: center;")
		img.logo(src="/img/WPPLogo.png", alt="World Perspective Program | GFA", width="142", height="172")
	.card
		ul.table-view
			li.table-view-cell
				a.push-right(href="/explore")
					strong Explore the presentations
			li.table-view-cell
				a.push-right(href="/register")
					strong Register for presentations
			li.table-view-cell
				a.push-right(href="/schedule")
					strong View your schedule
			li.table-view-cell
				a.push-right(href="/feedback")
					strong Provide feedback