extends layout

block tabs
	+tab("Explore", "/explore", "icon-search", false)
	+tab("Register", "/register", "icon-check", false)
	+tab("My Schedule", "/schedule", "icon-list", false)
	+tab("Feedback", "/feedback", "icon-compose", false)

block content
	div(style="text-align: center;")
		img.logo(src="/img/WPPLogo.png", alt="World Perspective Program | GFA", width="142", height="172")
	.card
		ul.table-view
			li.table-view-cell
				a.push-right(href="/explore", data-transition="fade")
					strong Explore the presentations
			li.table-view-cell
				a.push-right(href="/register", data-transition="fade")
					strong Register for presentations
			li.table-view-cell
				a.push-right(href="/schedule", data-transition="fade")
					strong View your schedule
			li.table-view-cell
				a.push-right(href="/feedback", data-transition="fade")
					strong Provide feedback
	script(src="/js/jquery.wysiwygetize.min.js")
	script.
		$(function () {
			$('textarea').wysiwygetize();
		});