<link rel="import" href="/bower_components/polymer/polymer.html" />
<link rel="import" href="/bower_components/core-toolbar/core-toolbar.html" />
<link rel="import" href="/bower_components/core-icons/core-icons.html" />
<link rel="import" href="/bower_components/core-menu/core-menu.html" />
<link rel="import" href="/bower_components/core-item/core-item.html" />
<link rel="import" href="/bower_components/core-ajax/core-ajax.html" />
<link rel="import" href="/bower_components/paper-button/paper-button.html" />
<link rel="import" href="/bower_components/icon-transition/icon-transition.html" />
<link rel="import" href="/bower_components/paper-input/paper-input.html" />
<link rel="import" href="/bower_components/paper-input/paper-input-decorator.html" />
<link rel="import" href="/bower_components/paper-input/paper-autogrow-textarea.html" />
<link rel="import" href="/bower_components/paper-toast/paper-toast.html" />
<link rel="import" href="/components/content-section.html" />

<polymer-element name="admin-page">
	<template>
		<style>
			core-toolbar {
				background: #3ea346;
				color: #f1f1f1;
				fill: #f1f1f1;
				z-index: 150;
			}
			paper-toast {
				width: 100%;
				bottom: 0;
				left: 0;
				border-radius: 0;
				text-align: center;
			}
			paper-toast[error] {
				background-color: #ff4136;
			}
			:host {
				height: 100%;
			}
			#sidepanel {
				height: calc(100% - 64px);
				background-color: white;
				width: 256px;
				transition: margin-left 0.5s;
				position: fixed;
				box-shadow: 0 0 6px rgba(0,0,0,0.3);
				z-index: 100;
			}
			#sidepanel.hidden {
				margin-left: -256px;
			}
			section.minor {
				color: rgb(153, 153, 153);
				position: absolute;
				bottom: 0;
				width: 100%;
			}
			section.minor ul {
				list-style: none;
				padding-left: 0;
			}
			section.minor paper-button {
				margin-left: 10px;
				margin-right: 10px;
				width: calc(100% - 20px);
			}
			section.minor paper-button:hover {
				color: black;
			}
			.input-style /deep/ ::-webkit-input-placeholder {
				color: #3ea346;
			}
			.input-style /deep/ ::-moz-placeholder {
				color: #3ea346;
			}
			.input-style /deep/ :-ms-input-placeholder {
				color: #3ea346;
			}
			.input-style /deep/ .floated-label .label-text, .input-style /deep/ .error {
				color: #3ea346;
			}
			.input-style /deep/ .unfocused-underline {
				background-color: #3ea346;
			}
			.input-style[focused] /deep/ .floated-label .label-text {
				color: #3ea346;
			}
			.input-style /deep/ .focused-underline {
				background-color: #3ea346;
			}
			.input-style.invalid /deep/ .floated-label .label-text, .input-style /deep/ .error {
				color: #3ea346;
			}
			.input-style.invalid /deep/ .focused-underline {
				background-color: #3ea346;
			}
			.input-style {
				color: #3ea346;
				text-align: left;
			}
			.input-style /deep/ textarea, .input-style /deep/ input {
				color: black;
			}
			content-section:first-of-type h2, content-section:nth-of-type(2) h2 {
				margin-bottom: 0;
			}
			paper-button[raised] {
				background: #3ea346;
				color: #fff;
			}
			/* Mobile styles */
			@media screen and (max-width: 35.5em) {

			}
		</style>

		<core-ajax id="info-ajax" auto url="/info" handleAs="json" on-core-response="{{userResponse}}" on-core-error="{{handleError}}"></core-ajax>
		<core-ajax id="panels-ajax" auto url="/admin/panels/all/info" handleAs="json" on-core-response="{{panelsResponse}}" on-core-error="{{handleError}}"></core-ajax>
		<core-ajax id="sessions-ajax" auto url="/admin/sessions/all/info" handleAs="json" on-core-response="{{sessionsResponse}}" on-core-error="{{handleError}}"></core-ajax>
		<core-ajax id="add-students-ajax" method="POST" url="/admin/add/students" handleAs="json" on-core-response="{{addStudentsResponse}}" on-core-error="{{handleError}}"></core-ajax>
		<core-ajax id="add-faculty-ajax" method="POST" url="/admin/add/faculty" handleAs="json" on-core-response="{{addFacultyResponse}}" on-core-error="{{handleError}}"></core-ajax>
		<core-ajax id="send-emails-ajax" method="POST" url="/admin/send" handleAs="json" on-core-response="{{sendEmailsResponse}}" on-core-error="{{handleError}}"></core-ajax>
		<core-ajax id="search-schedule-ajax" url="/admin/schedule/search" handleAs="json" on-core-response="{{seachScheduleResponse}}" on-core-error="{{handleError}}"></core-ajax>

		<core-toolbar>
			<icon-transition shape="{{icon}}" color="white" on-tap="{{toggleMenu}}"></icon-transition>
			<span flex>Admin Panel</span>
		</core-toolbar>
		<section id="sidepanel" class="hidden">
			<a id="scheduleLink" href="/" style="display: hidden;"></a>
			<core-menu selected="1">
				<core-item icon="event" label="Schedule" on-tap="{{schedule}}"></core-item>
				<core-item icon="settings" label="Admin Panel"></core-item>
			</core-menu>
			<section class="minor">
				<ul>
					<li id="about">
						<paper-button noink on-tap="{{about}}">About</paper-button>
						<a id="aboutLink" href="/about" style="display: hidden;"></a>
					</li>
					<li id="contact">
						<paper-button noink on-tap="{{contact}}">Contact</paper-button>
						<a id="contactLink" href="mailto:petschekr@gfacademy.org" style="display: hidden;"></a>
					</li>
				</ul>
			</section>
		</section>
		<content-section>
			<h2>Schedules</h2>
			<paper-input id="schedulesearch" class="input-style" label="Name" floatingLabel></paper-input>
			<template repeat="{{result in searchResults}}">
				<p><a style="color: black;" href="/admin/schedule/get/{{result.username}}" target="_blank">{{result.name}}</a></p>
			</template>
			<div horizontal layout>
				<span flex></span>
				<paper-button raised on-click="{{allSchedules}}">
					<a style="text-decoration: none; color: white;" href="/admin/schedule/all" target="_blank">Get All</a>
				</paper-button>
				<paper-button raised on-click="{{searchSchedule}}">
					Search
				</paper-button>
				<span flex></span>
			</div>
		</content-section>
		<content-section>
			<h2>Panels</h2>
			<template if="{{panels.length == 0}}">
				<p><em>Loading...</em></p>
			</template>
			<template repeat="{{panel in panels}}">
				<p>
					<a style="color: black; text-decoration: none;" href="/admin/panels/get/{{panel.id}}" target="_blank">
						{{panel.name}}
						<br />
						<small><strong>({{panel.panelists}})</strong></small>
					</a>
				</p>
			</template>
			<paper-button raised>
				<a style="text-decoration: none; color: white;" href="/admin/panels/all" target="_blank">See All</a>
			</paper-button>
		</content-section>
		<content-section>
			<h2>Sessions</h2>
			<template if="{{sessions.length == 0}}">
				<p><em>Loading...</em></p>
			</template>
			<template repeat="{{session in sessions}}">
				<p>
					<a style="color: black; text-decoration: none;" href="/admin/sessions/get/{{session.id}}" target="_blank">
						{{session.name}}
						<br />
						<small><strong>({{session.presenter}})</strong></small>
					</a>
				</p>
			</template>
			<paper-button raised>
				<a style="text-decoration: none; color: white;" href="/admin/sessions/all" target="_blank">See All</a>
			</paper-button>
		</content-section>
		<content-section id="addstudents">
			<h2>Add students</h2>
			<paper-input-decorator class="input-style" label="Paste .csv file of students" floatingLabel>
				<paper-autogrow-textarea>
					<textarea></textarea>
				</paper-autogrow-textarea>
			</paper-input-decorator>
			<div horizontal layout>
				<span flex></span>
				<paper-button raised on-click="{{addStudents}}">
					Add
				</paper-button>
				<span flex></span>
			</div>
		</content-section>
		<content-section id="addfaculty">
			<h2>Add faculty</h2>
			<paper-input-decorator class="input-style" label="Paste .csv file of faculty" floatingLabel>
				<paper-autogrow-textarea>
					<textarea></textarea>
				</paper-autogrow-textarea>
			</paper-input-decorator>
			<div horizontal layout>
				<span flex></span>
				<paper-button raised on-click="{{addFaculty}}">
					Add
				</paper-button>
				<span flex></span>
			</div>
		</content-section>
		<content-section id="sendemails">
			<h2>Send Registration Emails</h2>
			<div horizontal layout>
				<span flex></span>
				<paper-button raised on-click="{{sendEmails}}">
					Send
				</paper-button>
				<span flex></span>
			</div>
		</content-section>
		<paper-toast id="loading" text="Loading..." duration="9999999" swipeDisabled autoCloseDisabled></paper-toast>
		<paper-toast id="notifier" error text="Something happened" duration="5000"></paper-toast>
	</template>
	<script>
		Polymer({
			icon: "menu",
			menuOpened: false,
			user: {
				name: "Loading..."
			},
			schedule: [],
			panels: [],
			sessions: [],
			ready: function() {

			},
			toggleMenu: function() {
				this.menuOpened = !this.menuOpened;
				if (this.menuOpened) {
					this.icon = "right-arrow";
					this.$.sidepanel.classList.remove("hidden");
				}
				else {
					this.icon = "menu";
					this.$.sidepanel.classList.add("hidden");
				}
			},
			about: function() {
				this.$.aboutLink.click();
			},
			contact: function() {
				this.$.contactLink.click();
			},
			schedule: function() {
				this.$.scheduleLink.click();
			},
			userResponse: function() {
				this.user = this.$["info-ajax"].response;
				window.user = this.user;
			},
			addStudents: function() {
				var data = this.$.addstudents.querySelector("textarea").value.trim();
				if (!data)
					return;
				var sendData = {
					"data": data
				};
				this.$["add-students-ajax"].params = JSON.stringify(sendData);
				this.$["add-students-ajax"].go();
				this.$.loading.show();
			},
			addStudentsResponse: function() {
				this.$.loading.dismiss();
				this.$.addstudents.querySelector("textarea").value = "";
				this.$.addstudents.querySelector("textarea").blur();
			},
			addFaculty: function() {
				var data = this.$.addfaculty.querySelector("textarea").value.trim();
				if (!data)
					return;
				var sendData = {
					"data": data
				};
				this.$["add-faculty-ajax"].params = JSON.stringify(sendData);
				this.$["add-faculty-ajax"].go();
				this.$.loading.show();
			},
			addFacultyResponse: function() {
				this.$.loading.dismiss();
				this.$.addfaculty.querySelector("textarea").value = "";
				this.$.addfaculty.querySelector("textarea").blur();
			},
			sendEmails: function() {
				var shouldSend = confirm("Are you sure you want to send out registration emails?");
				if (shouldSend) {
					this.$["send-emails-ajax"].go();
					this.$.loading.show();
				}
			},
			sendEmailsResponse: function() {
				this.$.loading.dismiss();
				this.$.sendemails.querySelector("paper-button").disabled = true;
				this.$.sendemails.querySelector("paper-button").style.backgroundColor = "grey";
			},
			searchSchedule: function() {
				var query = this.$.schedulesearch.value;
				this.$["search-schedule-ajax"].params = JSON.stringify({
					q: query
				});
				this.$["search-schedule-ajax"].go();
				this.$.loading.show();
			},
			seachScheduleResponse: function() {
				this.$.loading.dismiss();
				this.searchResults = this.$["search-schedule-ajax"].response.results;
			},
			panelsResponse: function() {
				this.panels = this.$["panels-ajax"].response;
				for (var i = 0; i < this.panels.length; i++) {
					this.panels[i].panelists = this.panels[i].panelists.join(", ");
				}
			},
			sessionsResponse: function() {
				this.sessions = this.$["sessions-ajax"].response;
			},
			handleError: function(e) {
				this.$.loading.dismiss();
				this.$.notifier.text = e.detail.response.response.error || "An error occurred!";
				this.$.notifier.show();
			}
		});
	</script>
</polymer-element>
