<link rel="import" href="/bower_components/polymer/polymer.html" />
<link rel="import" href="/bower_components/core-toolbar/core-toolbar.html" />
<link rel="import" href="/bower_components/core-icons/core-icons.html" />
<link rel="import" href="/bower_components/core-menu/core-menu.html" />
<link rel="import" href="/bower_components/core-item/core-item.html" />
<link rel="import" href="/bower_components/core-ajax/core-ajax.html" />
<link rel="import" href="/bower_components/paper-button/paper-button.html" />
<link rel="import" href="/bower_components/icon-transition/icon-transition.html" />
<link rel="import" href="/bower_components/paper-input/paper-input.html" />
<link rel="import" href="/bower_components/paper-input/paper-input-decorator.html" />
<link rel="import" href="/bower_components/paper-input/paper-autogrow-textarea.html" />
<link rel="import" href="/bower_components/paper-toast/paper-toast.html" />
<link rel="import" href="/components/content-section.html" />

<polymer-element name="admin-page">
	<template>
		<style>
			core-toolbar {
				background: #3ea346;
				color: #f1f1f1;
				fill: #f1f1f1;
				z-index: 150;
			}
			paper-toast {
				width: 100%;
				bottom: 0;
				left: 0;
				border-radius: 0;
				text-align: center;
			}
			:host {
				height: 100%;
			}
			#sidepanel {
				height: calc(100% - 64px);
				background-color: white;
				width: 256px;
				transition: margin-left 0.5s;
				position: fixed;
				box-shadow: 0 0 6px rgba(0,0,0,0.3);
				z-index: 100;
			}
			#sidepanel.hidden {
				margin-left: -256px;
			}
			section.minor {
				color: rgb(153, 153, 153);
				position: absolute;
				bottom: 0;
				width: 100%;
			}
			section.minor ul {
				list-style: none;
				padding-left: 0;
			}
			section.minor paper-button {
				margin-left: 10px;
				margin-right: 10px;
				width: calc(100% - 20px);
			}
			section.minor paper-button:hover {
				color: black;
			}
			paper-input-decorator /deep/ ::-webkit-input-placeholder {
				color: #3ea346;
			}
			paper-input-decorator /deep/ ::-moz-placeholder {
				color: #3ea346;
			}
			paper-input-decorator /deep/ :-ms-input-placeholder {
				color: #3ea346;
			}
			paper-input-decorator /deep/ .label-text, paper-input-decorator /deep/ .error {
				color: #3ea346;
			}
			paper-input-decorator /deep/ .unfocused-underline {
				background-color: #3ea346;
			}
			paper-input-decorator[focused] /deep/ .floated-label .label-text {
				color: #3ea346;
			}
			paper-input-decorator /deep/ .focused-underline {
				background-color: #3ea346;
			}
			paper-input-decorator.invalid /deep/ .floated-label .label-text, paper-input-decorator /deep/ .error {
				color: #3ea346;
			}
			paper-input-decorator.invalid /deep/ .focused-underline {
				background-color: #3ea346;
			}
			paper-input-decorator {
				color: #3ea346;
				text-align: left;
			}
			textarea {
				color: black;
			}
			content-section h2 {
				margin-bottom: 0;
			}
			paper-button[raised] {
				background: #3ea346;
				color: #fff;
			}
			/* Mobile styles */
			@media screen and (max-width: 35.5em) {

			}
		</style>

		<core-ajax id="info-ajax" auto url="/info" handleAs="json" on-core-response="{{userResponse}}" on-core-error="{{handleError}}"></core-ajax>
		<core-ajax id="add-students-ajax" method="POST" url="/admin/add/students" handleAs="json" on-core-response="{{addStudentsResponse}}" on-core-error="{{handleError}}"></core-ajax>
		<core-ajax id="add-faculty-ajax" method="POST" url="/admin/add/faculty" handleAs="json" on-core-response="{{addFacultyResponse}}" on-core-error="{{handleError}}"></core-ajax>

		<core-toolbar>
			<icon-transition shape="{{icon}}" color="white" on-tap="{{toggleMenu}}"></icon-transition>
			<span flex>Admin Panel</span>
		</core-toolbar>
		<section id="sidepanel" class="hidden">
			<a id="scheduleLink" href="/" style="display: hidden;"></a>
			<core-menu selected="1">
				<core-item icon="event" label="Schedule" on-tap="{{schedule}}"></core-item>
				<core-item icon="settings" label="Admin Panel"></core-item>
			</core-menu>
			<section class="minor">
				<ul>
					<li id="about">
						<paper-button noink on-tap="{{about}}">About</paper-button>
						<a id="aboutLink" href="/about" style="display: hidden;"></a>
					</li>
					<li id="contact">
						<paper-button noink on-tap="{{contact}}">Contact</paper-button>
						<a id="contactLink" href="mailto:petschekr@gfacademy.org" style="display: hidden;"></a>
					</li>
				</ul>
			</section>
		</section>
		<content-section id="addstudents">
			<h2>Add students</h2>
			<paper-input-decorator label="Paste .csv file of students" floatingLabel>
				<paper-autogrow-textarea>
					<textarea></textarea>
				</paper-autogrow-textarea>
			</paper-input-decorator>
			<div horizontal layout>
				<span flex></span>
				<paper-button raised on-click="{{addStudents}}">
					Add
				</paper-button>
				<span flex></span>
			</div>
		</content-section>
		<content-section id="addfaculty">
			<h2>Add faculty</h2>
			<paper-input-decorator label="Paste .csv file of faculty" floatingLabel>
				<paper-autogrow-textarea>
					<textarea></textarea>
				</paper-autogrow-textarea>
			</paper-input-decorator>
			<div horizontal layout>
				<span flex></span>
				<paper-button raised on-click="{{addFaculty}}">
					Add
				</paper-button>
				<span flex></span>
			</div>
		</content-section>
		<paper-toast id="loading" text="Loading..." duration="9999999" swipeDisabled autoCloseDisabled></paper-toast>
		<paper-toast id="notifier" error text="Something happened" duration="5000"></paper-toast>
	</template>
	<script>
		Polymer({
			icon: "menu",
			menuOpened: false,
			user: {
				name: "Loading..."
			},
			schedule: [],
			ready: function() {

			},
			toggleMenu: function() {
				this.menuOpened = !this.menuOpened;
				if (this.menuOpened) {
					this.icon = "right-arrow";
					this.$.sidepanel.classList.remove("hidden");
				}
				else {
					this.icon = "menu";
					this.$.sidepanel.classList.add("hidden");
				}
			},
			about: function() {
				this.$.aboutLink.click();
			},
			contact: function() {
				this.$.contactLink.click();
			},
			schedule: function() {
				this.$.scheduleLink.click();
			},
			userResponse: function() {
				this.user = this.$["info-ajax"].response;
				window.user = this.user;
			},
			addStudents: function() {
				var data = this.$.addstudents.querySelector("textarea").value.trim();
				if (!data)
					return;
				var sendData = {
					"data": data
				};
				this.$["add-students-ajax"].params = JSON.stringify(sendData);
				this.$["add-students-ajax"].go();
				this.$.loading.show();
			},
			addStudentsResponse: function() {
				this.$.loading.dismiss();
				this.$.addstudents.querySelector("textarea").value = "";
				this.$.addstudents.querySelector("textarea").blur();
			},
			addFaculty: function() {
				var data = this.$.addfaculty.querySelector("textarea").value.trim();
				if (!data)
					return;
				var sendData = {
					"data": data
				};
				this.$["add-faculty-ajax"].params = JSON.stringify(sendData);
				this.$["add-faculty-ajax"].go();
				this.$.loading.show();
			},
			addFacultyResponse: function() {
				this.$.loading.dismiss();
				this.$.addfaculty.querySelector("textarea").value = "";
				this.$.addfaculty.querySelector("textarea").blur();
			},
			handleError: function(e) {
				this.$.loading.dismiss();
				this.$.notifier.text = e.detail.response.response.error || "An error occurred!";
				this.$.notifier.show();
			}
		});
	</script>
</polymer-element>
